modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_RECAPTCHA_SITE_KEY = "6LesbDcsAAAAALuDdNtUQEhyOP8O7K9vd0VSpsew"
RESEND_API_KEY = "re_KR7CZXv4_LEgnhzyqGErmQVmeZRzGR2EP"
RECAPTCHA_SECRET_KEY = "6LesbDcsAAAAAFZU8-pDcGFMwax2uIQen20VtIrW"
PUSHIFY_PUBLIC_KEY = "BOd7ewkDrzKrP_REm1gtO9suBMlQMBPrZuuASvQhSylHRrY-cMgx0iki7lTSvJzOJ3FfV7cBBwltJZKvWf4cYhw"
PUSHIFY_PRIVATE_KEY = "KdpxWMPFCXCXUL0YVbC5CFSwjq7FPeW0Zzb0pxdjJ3U"
PUSHIFY_WEBSITE_ID = "172"
